/* elements */

.body{
  /* color: #008B8B; */
  background-color: white;
  color: white;
}
.header{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}
h1{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Bungee Inline', cursive; */
  /* font-family: 'Lemonada', cursive; */
  background-color:;
  padding:20px 0px 20px 0px;
}
h2{
font-family: 'Sulphur Point', sans-serif;
padding:20px 0px 20px 0px;
}
h3{
font-family: 'Lemonada', cursive;
padding:20px 0px 20px 0px;
}
h4{
  font-family: 'Lemonada', cursive;
  padding:20px 0px 20px 0px;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Sulphur Point', sans-serif; */
  /* font-weight: bold; */
  color: black;
  padding:20px 0px 20px 0px;
  font-size: 2rem;
}
small{
  font-family: 'Lemonada', cursive;
}

.startimg{
  width:auto;
  padding-top: 90px;
}


/* classes */
.navbar{
  background-color: #4040a1;

}


.skills{
  padding: 80px 80px 80px 80px;
}
.para{
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color:;
}
 .img{
  /* text-align: center; */
  width:250px;
  /* margin:auto; */
  /* height: 100px; */
  border-radius: 1rem;
}
.about{
  /* padding-top: 80px; */
  background-color: white;
}
.love{
  text-align: center;
  /* background-color: silver; */

  /* margin-top: 80px; */
}
/* top container h1 */
.top{
 padding-top: 100px;
 background-color: ;
}
.middle{
 background-color: #008b8b;
}

.bottom{
  margin-top: 0px;
  text-align: center;
  background-color: white;
}
.footer1{
  background-color: #36486b;
  margin-bottom: 0px;
  padding-bottom: 5rem;
  padding-top: 5rem;
}




.pam{
  padding: 10px 10px 10px 10px;
}
img:hover{
  opacity: 0.5;
}
.port{

  border-radius: 2rem;
  width: 250px;


}
/* index html section */
.indextop{
  margin-top: 90px;

  background-color:#4040a1 ;
  padding-bottom: 2rem;
}
.viki{
  margin-bottom: 0px;
  background-color:white;
}
.indeximg{
  margin-top: 90px;
  width:350px;
  padding-bottom: 2rem;
}
.bulb{
  margin-top: 90px;
  width:350px;
  border-radius: 2rem;
  padding-bottom: 2rem;
}
.end{
  background-color:#92a8d1;
}
.li{
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}
/* about scetion html */

.abouttop{
  margin-top: 90px;
}
.png1{
   width: 500px;
   margin-top: 100px;
}


/* portfolio section html */

.porttop{
  margin-top: 90px;
}

/* contact section html */

.contacth{
  margin-top: 90px;
}


/* footer */
.facebook{
  width: 50px;
  margin: 2rem 1rem 2rem 0rem;
}
.googleplus{
  width: 50px;
  margin: 2rem 1rem 2rem 2rem;
}
.twitter{
  width: 50px;
  margin: 2rem 1rem 2rem 2rem;
}
.linkedin{
  width: 50px;
  margin: 2rem 1rem 2rem 2rem;
}
.press-logo{
  width: 150px;
  margin: 2rem 2rem 2rem 2rem;
}
.nav-link{
font-family: 'Josefin Sans', sans-serif;
}
.phone{
  width: 50px;
  margin: 2rem 1rem 2rem 2rem;
}
.calendar{
  width: 50px;
  margin: 2rem 1rem 2rem 2rem;
}
.location{
  width: 50px;
  margin: 2rem 1rem 2rem 2rem;
}
.aaa{
  width: 50px;
  margin: 2rem 1rem 2rem 2rem;
}
.email{
  width: 250px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.conim{
  padding-top: 5rem;
  margin-top: 90px;
}
.testimonial-text{
  margin-left: 50px;
  margin-right: 50px;
  padding: 5rem 5rem 5rem 5rem;
}
.testimonials{
  padding-bottom: 5rem;
}
/* for skills part */
body {margin:25px;}

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

b{
  color:#92a8d1 ;
}
.starter{
  max-width: 100%;
  height: auto;
}

/* color codes */
#4040a1
#36486b
#618685
#fefbd8
#92a8d1